// Colour Defenitions

$edibundleGreen: #3b8f42;
$lightButtonHover: #eaf3e9f1;
$bottomMenuBackground: #213b25;

$mainMenuColor: #ffffff;
$mainMenuTextColor: #333333;

$mobileMenuColor: #f7f7f7;
$mobileMenuWidth: 80vw;
$mobileMenuShadow: 0px 0px 15px #7a7676;
$betaChipShadow: 0px 0px 3px 1px rgba(#535353, 0.53);
$betaChipBackground: #075487;

$mainGray: #2e2b3c;
$mainGold: #d29a1b;

$accountMenuBackground: #f0f0f0;
$accountMenuText: #333333;
$accountMenuBorder: #dadada;
$accountMenuHover: #e2e2e2;
$accountMenuShadow: 0px 0px 5px #dbdbdb;

$contentBackground: #f7f7f7;
$contentShadows: 0px 0px 5px #dbdbdb;
$contentLines: #eaeaea;

$heroTextShadow: rgba(33, 59, 37, 0.5);
